<%- include('../partials/header') %>
<div class="center">
  <h4 class="center"><%= user.name %></h4>
  <h5>Email: <%= user.email %></h5>
</div>
<div>
    <h4>Chosen Recipes</h4>
    <div class="row center">
        <div class="card deep-orange lighten-3 z-depth-4">
          <div class="card-content black-text">
            <p class="card-title flow-text"><%= recipe.name %></p>
            <div class="divider teal lighten-2"></div>
            <p>Description: <%= recipe.description %> </p>
          </div>
        </div>
      </div>
    <form class="form" id="add-recipe-toUser" action="/profile/<%= user.id %> /recipes" method="POST">
        <select class="browser-default" name="ingredientId">
            <%- recipes.map(r => `<option value="${r.id}">${r.name}</option>`).join('') %>
          </select>
      <button class="lime-text text-lighten-3 btn-small" type="submit">Add to Cook List</button>
        </form>

</div>
<div>
    <h4> Grocery List: </h4>
</div>
<%- include('../partials/footer') %>
