<%- include('../partials/header') %> 
<p class="center">Increase our Library</p>
<table class="center container striped responsive-table z-depth-5">
    <thead class="table">
        <tr>
            <th>Ingredient</th>
            <th>Food Group</th>
        </tr>
    </thead>
    <tbody>
        <% items.forEach(function(item){ %>
        <tr>
            <td><a href="/ingredients/<%= item.id %>"><%= item.ingredient %></a></td>
            <td><%= item.foodGroup %> </td>
        </tr>
        <% }) %>
        <tr>
            <td>
                <a href="/ingredients/new" class="waves-effect waves-light btn">Add item</a>
            </td>
        </tr>
    </tbody>
    
</table>



<%- include('../partials/footer') %>