<%- include('../partials/header') %>
<div class="container">
  <label>Change it up</label>
  <form class="form" id="edit-recipe" action="/recipes/<%= recipe.id %>?_method=PUT" method="POST">
    <label>Name of Dish</label>
    <input
      type="text"
      id="edit-dish-name"
      name="name"
      required="true"
      autocomplete="off"
      value=" <%= recipe.name %> "
    />
    <label>Description</label>
    <textarea
      type="text"
      id="edit-dish-description"
      name="description"
    >
    <%= recipe.description %>
    </textarea>
    <label>Steps</label>
    <textarea 
      type="text" 
      id="edit-dish-steps" 
      name="steps" 
    >
      <%= recipe.steps %>
    </textarea>
    <div>
    <button class="center-align" type="submit">Confirm Edit</button>
  </form>
</div>
<%- include('../partials/footer') %>
