<%- include('../partials/header') %> 
<h4 class="center">Recipe List</h4>
<table class="center striped z-depth-5 deep-orange lighten-4">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody class="container">
        <% recipes.forEach(function(recipe){ %>
        <tr>
            <td class="center"><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></td>
            <td ><%= recipe.description %></td>
        </tr>
        <% }) %>
        <tr>
            <td>
                <form action="/user/"></form>            
            </td>
            <td>
                <a href="/recipes/new" class="lime-text text-lighten-3 waves-effect btn-small">Add a recipe</a>
            </td>
        </tr>
    </tbody>
    
</table>

<%- include('../partials/footer') %> 